.wrapper {
  padding-top: 48px;

  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr;
}

.sideber {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  max-width: 320px;
}

.poster {
  width: 320px;
  height: 480px;

  border-radius: 10px;

  margin-top: 20px;
}

.favorites-btn.active {
  background-color: rgb(246, 64, 64) !important;

  &:hover {
    background-color: rgb(249, 80, 80) !important;
  }
}

.favorites-btn {
  border: none;
  border-radius: 10px;

  background-color: var(--btn-color);

  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: white;

  cursor: pointer;

  width: 320px;
  height: 59px;
  max-height: 59px;

  &:hover {
    background-color: var(--hover-btn-color);
  }
}

.main-content {
  padding-left: 127px;
  padding-right: 25px;
}

.title {
  margin: 0;

  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: var(--primary-color);

  margin-bottom: 24px;
}

.tagline {
  font-style: italic;
  font-size: 12px;
  opacity: 0.6;

  margin: 0;
}

.tags {
  display: flex;
  column-gap: 16px;

  margin-bottom: 22px;
}

@media (max-width: 1280px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;

    max-width: 670px;
  }
  .main-content {
    padding-left: 24px;
  }
  .title {
    font-size: 32px;
  }
  .tag {
    font-size: 12px !important;
  }
  .vote {
    font-size: 12px !important;
  }
  .headling {
    font-size: 16px !important;
  }
  .description {
    font-size: 12px !important;
  }
  .poster {
    width: 160px;
    height: 240px;
  }
  .favorites-btn {
    width: 160px;
    height: 40px;

    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 24px;

    width: 100%;
  }
  .poster {
    width: 320px;
    height: 480px;
  }
  .favorites-btn {
    width: 320px;
    height: 60px;

    font-size: 16px;
  }
  .title {
    text-align: center;
  }
  .headling {
    font-size: 18px !important;
    text-align: center;
  }
  .overview {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .description {
    font-size: 16px !important;
  }
  .tags {
    align-items: center;
    justify-content: center;
  }
  .tag {
    font-size: 14px !important;
  }
  .vote-wrapper {
    justify-content: center;
  }
  .vote {
    font-size: 14px !important;
  }
  .imdb {
    width: 32px;
  }
}

.tag {
  display: flex;

  padding: 8px;

  background-color: #efe8d8;

  border-radius: 10px;

  font-size: 14px;
  color: var(--primary-color);

  width: max-content;
}

.trailer {
  color: #e54b4b;
  font-weight: 600;

  cursor: pointer;

  position: relative;

  padding: 8px 8px 8px 26px;

  &::before {
    content: url("../../assets/icons/trailer.svg");

    position: absolute;
    top: 9px;
    left: 8px;
  }
}

.vote-wrapper {
  margin-bottom: 22px;

  display: flex;
  align-items: center;
  column-gap: 16px;

  cursor: pointer;
}

.vote {
  font-size: 16px;
  font-weight: 500;
}

.overview {
  margin-bottom: 22px;
}

.headling {
  font-size: 20px;
  font-weight: 600;

  margin: 0;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  color: var(--primary-color);

  margin: 0;
  margin-bottom: 12px;
}
