.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 28px 0 74px 0px;
}

.headling {
  font-family: "Playfair Display", serif;
  font-size: 68px;
  font-weight: 700;
  color: var(--primary-color);

  margin-bottom: 20px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  width: 500px;
  max-width: 500px;

  margin-bottom: 48px;
}

.search-bar,
.submit-btn {
  background-color: #efe8d8;

  border: none;
  border-radius: 10px;

  padding: 12px 14px;

  align-self: flex-start;

  color: var(--primary-color);
  font-size: 14px;
  font-family: "Inter", sans-serif;

  width: 100%;
}

.search-bar:focus {
  outline: none;
}

.submit-btn {
  background-color: #61bfad;

  color: #ffffff;

  cursor: pointer;

  width: 25%;

  &:hover {
    background-color: #41bba5;
  }
}

.no-results,
.loading {
  font-size: 16px;
  font-weight: 500;
}

.pagination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
}

.current-page {
  border: 5px dashed #0e0e0e;
  border-radius: 50%;

  background-color: transparent;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--primary-color);

  padding: 20px 0;

  width: 60px;

  text-align: center;
}

.page-btn-wrapper {
  display: flex;
  column-gap: 20px;

  width: 100%;
}

.page-btn {
  border: none;
  border-radius: 10px;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffff;

  padding: 20px 0;

  width: 150px;

  background-color: #0e0e0e;

  cursor: pointer;

  flex: 1;

  &:hover {
    background-color: #0e0e0eec;
  }
}
