.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 28px 0 74px 0px;
}

.headling {
  font-family: "Playfair Display", serif;
  font-size: 68px;
  font-weight: 700;
  color: var(--primary-color);

  margin-bottom: 20px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  width: 500px;
  max-width: 500px;

  margin-bottom: 48px;
}

.search-bar,
.submit-btn {
  background-color: #efe8d8;

  border: none;
  border-radius: 10px;

  padding: 12px 14px;

  align-self: flex-start;

  color: var(--primary-color);
  font-size: 14px;
  font-family: "Inter", sans-serif;

  width: 100%;
}

.search-bar:focus {
  outline: none;
}

.submit-btn {
  background-color: #61bfad;

  color: #ffffff;

  cursor: pointer;

  width: 25%;

  &:hover {
    background-color: #41bba5;
  }
}

.search-result {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  column-gap: 24px;
  row-gap: 24px;

  width: 100%;
}

.item {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__poster {
  border-radius: 10px;

  height: 375px;
  width: 250px;
}
