:root {
  font-family: Inter, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1b1d1c;

  --background-color: #f9f7e8;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  width: 100%;
  height: 100vh;

  background-color: var(--background-color);
}
